    /* Estilos personalizados para o cabeçalho e rodapé */
    header {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

    header .img-header {
      margin-right: 5px;
    }

    header .info-header {
      padding-top: 0px;

    }

    footer {
      background-color: #333;
      color: #969696;
      padding: 2px;
      text-align: left;
      position: fixed;
      bottom: 0;
      font-size: 0.1em;
      width: 100%;
    }

    .rzs {
      font-weight: 600;
      font-size: 1.0em;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    img {
      margin-bottom: 3px;
    }

    p {
      font-size: 0.8em;
      margin-bottom: 3px;
    }

    /* Estilos adicionais para o conteúdo do relatório */
    .dados {
      padding: 10px;
      margin-top: 30px;
      text-align: left;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 10px;
      text-align: center;
    }

    table {
      margin: 0 auto;
      width: 100%;
    }

    th,
    td {
      padding: 0px;
    }

    .table td,
    .table th {
      padding: 2px;
    }

    .info .titulo_tabela {
      color: #6d6d6d;
      /* Cor do texto */
      font-size: 1.05em;
      /* Tamanho da fonte */
      font-weight: bold;
      /* Peso da fonte (negrito) */
      text-align: center;
      /* Alinhamento do texto */
      text-transform: uppercase;
      /* Transformar o texto em letras maiúsculas */
      background-color: #f2f2f2;
      /* Cor de fundo */

    }
    

    